.classpath
.project
.settings/
target/
TestServer/bundler/
TestServer/.console_history
TestServer/banned-ips.json
TestServer/banned-players.json
TestServer/bukkit.yml
TestServer/commands.yml
TestServer/eula.txt
TestServer/help.yml
TestServer/ops.json
TestServer/paper-1.20.4-462.jar
TestServer/permissions.yml
TestServer/spigot.yml
TestServer/usercache.json
TestServer/version_history.json
TestServer/wepif.yml
TestServer/whitelist.json
TestServer/cache/
TestServer/config/
TestServer/debug/
TestServer/libraries/
TestServer/logs/
TestServer/world_the_end/
TestServer/world_nether/
TestServer/world/
TestServer/PrisonEscapeWorld/
TestServer/versions/
TestServer/plugins/*
!TestServer/plugins/TF_PrisonEscape/
